-# About Top Image/Logo
-# =============================================
.container.about-top
  .row
    .col-md-8.col-md-offset-2
      .about-us-image
        .item{:style => "background-image: url()"}
          .caption
            %h6 For Parents in Polk, FL
            %h1 We Are...

-# About Us content
-# =============================================
.about-post-box
  .container
    .row
      .col-md-8.col-md-offset-2
        .post-each
          %h1 About us
          %p Bonbon dragée powder. Chocolate wafer bonbon carrot cake tootsie roll danish jelly. Macaroon donut sweet sesame snaps dessert jelly. Toffee sweet roll pie muffin. Soufflé cake sugar plum liquorice candy brownie macaroon candy. Chocolate brownie croissant danish jelly-o jelly-o. Pudding sweet powder lemon drops. Dessert ice cream tootsie roll liquorice cotton candy oat cake jelly. Gingerbread gummies cotton candy gummies pudding donut. Apple pie cotton candy chocolate macaroon pudding dragée. Gummies lemon drops liquorice jelly-o danish sweet cake. Wafer gummi bears powder biscuit.
