-# Home Top Image/Logo
.jumbotron.logo-image

-# Topics List
-# =============================================
.container
  .row
    .col-md-12.text-center.topic-selection-text
      .h1 Select a topic
.container
  .row
    .col-md-6
      %a.button{:href => "#"} Topic 1
      %a.button{:href => "#"} Topic 2
      %a.button{:href => "#"} Topic 3
      %a.button{:href => "#"} Topic 4
    .col-md-6
      %a.button{:href => "#"} Topic 5
      %a.button{:href => "#"} Topic 6
      %a.button{:href => "#"} Topic 7
      %a.button{:href => "#"} Topic 8
