-# New Post Category Dropdown
-# =============================================
.post-new-form
  .col-md-8.col-md-offset-2
    .btn-group
      %button.btn.btn-large.btn-info Category
      %button.btn.btn-large.btn-info.dropdown-toggle{"data-toggle" => "dropdown"}
        %span.caret
      %ul.dropdown-menu
        %li
          %a{:href => "#"} Action
        %li
          %a{:href => "#"} Another action
        %li
          %a{:href => "#"} Something else here
        %li.divider
        %li
          %a{:href => "#"} Separated link
    .form-group.post-new-form-title
      %label.h2{:for => "title"} Title:
      %textarea#comment.form-control{:rows => "1"}
    .form-group.post-new-form-text
      %label{:for => "text"}
      %textarea#comment.form-control{:rows => "5"}
    .control-group
      %label.control-label{:for => "singlebutton"}
      .controls
        %button#edit.btn.btn-info{:onclick => "edit()", :type => "button"} Edit
        %button#save.btn.btn-info{:onclick => "save()", :type => "button"} Save
