.topic-admin-editing-tools-box
  - if current_user_admin?
    = link_to new_topic_path do
      %button.btn.btn-large.btn-success
        New
  = link_to root_path do
    %button.btn.btn-large.btn-warning
      Back

.topic-selection-text.text-center
  %h1 Select a topic
.container
  - @topics.each do |topic|
    .col-md-6
      = link_to topic_posts_path(topic), class: "btn button btn-block event-button" do
        %span.topic-button-name= topic.name
