-# About Top Image/Logo
-# =============================================
.col-md-8.col-md-offset-2
  %h1.about-us-top About Polk Family Austism Network

-# About Us content
-# =============================================
.about
  .col-md-8.col-md-offset-2
    A forum to for Polk County, FL families to share their resources and stories of raising kids with autism spectrum disorder.
