-# Home Top Image/Logo
.jumbotron.logo-image

-# Topics List
-# =============================================
.container
  .row
    .col-md-12.text-center.topic-selection-text
      .h1 Select a topic
.container
  - @topics.each do |topic|
    .col-md-6
      = link_to topic_posts_path(topic), class: "btn button btn-block event-button" do
        %span.topic-button-name= topic.name
