-# Posts
-# =============================================
.col-md-5.col-xs-4.top-topic-post-index-box
  .admin-editing-tools-box.new-topic-admin-box
    - if current_user_admin?
      = link_to new_topic_path do
        %button.btn.btn-large.btn-success
          New
    = link_to root_path do
      %button.btn.btn-large.btn-warning
        Back
.col-md-7.col-xs-8.top-topic-post-index-box
  .h2.post-topic-name
    =@topic.name
.search-posts
  = render @posts
