-# Posts
-# =============================================
.admin-editing-tools-box.new-topic-admin-box
  .col-md-4.post-index-top-nav
    = link_to topics_path do
      %button.btn.btn-large.btn-warning
        Back
    = link_to new_topic_post_path do
      %button.btn.btn-large.btn-success
        Write a Post
  .col-md-8.topic-name-in-index-box
    .h2.topic-name-in-post-index
      =@topic.name
.row.search-posts-results
  = render @posts
