// Jumbotron and logo image
.logo-image {
  background-image: image-url("logo3.png");
  width: 100%;
  background-size: cover;
  overflow: hidden;
  position: center;
}

.jumbotron {
  border-bottom: 2px dashed rgba(231, 104, 93, 0.5);
}

.topic-selection-text {
  color: rgba(231, 104, 93, 0.9);
  font-family: 'Concert One', cursive;
}

// Topic Buttons
.button {
  color: rgba(231, 104, 93, 0.9);
  box-shadow: rgba(231, 104, 93, 0.5) 0 0 0 2px inset;
  text-align: center;
  -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  display: block;
  margin: 20px auto;
  max-width: 180px;
  text-decoration: none;
  border-radius: 4px;
  padding: 20px 30px;
}

.button:hover {
  color: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(231, 104, 93, 0.9) 0 0 0 40px inset;
  text-decoration: none;
}


// Media Queries
/* iPhone 5 (portrait)----------- */
@media only screen
  and (min-device-width: 320px)
  and (max-device-height: 568px)
  and (orientation: portrait) {
  .jumbotron {
    height: 160px;
  }
}

/* iPhone 6 (portrait)----------- */
@media only screen
  and (min-device-width: 375px)
  and (max-device-height: 667px)
  and (orientation: portrait) {
  .jumbotron {
    height: 180px;
  }
}

/* iPhone 6+ (portrait) ----------- */
@media only screen
  and (min-device-width: 414px)
  and (max-device-height: 736px)
  and (orientation: portrait) {
  .jumbotron {
    height: 200px;
  }
}

/* iPads (portrait) ------ */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait) {
  .navbar-brand {
    padding-left: 40px;
  }

  .nav-box {
    padding-left: 20px;
    padding-right: 20px;
  }

  .jumbotron {
    height: 355px;
  }
}

/* iPads (landscape) ------ */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape) {
  .navbar-brand {
    padding-left: 40px;
  }

  .nav-box {
    padding-left: 20px;
    padding-right: 20px;
  }

  .jumbotron {
    height: 490px;
  }
}


/* Desktops and laptops ----------- */
@media only screen
  and (min-width: 1224px) {
  .navbar-brand {
    padding-left: 40px;
  }

  .nav-box {
    padding-left: 50px;
    padding-right: 50px;
  }

  .jumbotron {
    height: 600px;
  }
}

/* Samsung Galaxy S5 ----------- */
@media only screen
  and (min-device-width: 360px)
  and (max-device-height: 640px)
  and (orientation: portrait) {
  .jumbotron {
    height: 180px;
  }
}
