.navbar {
  margin-bottom: -10px;
}

.navbar-inverse {
  background-color: #6fccdb;
}

.navbar-brand {
  font-family: 'Concert One', cursive;
  font-size: 50px;
  padding-top: 5px;
}

.top-nav {
  border-bottom: 1px dashed;
}

.post-each {
  border-bottom: 1px dashed;
}
