.fa-heart {
  color: red;
}

.fa-commenting-o {
  color: #6fccdb;
}

.published-time {
  font-size: 12px;
}

.user-name-box {
  margin-bottom: 5px;
}

.comment-list-box {
  margin-top: 60px;
}

// Media Queries
/* iPhone 5 (portrait)----------- */
@media only screen
  and (min-device-width: 320px)
  and (max-device-height: 568px)
  and (orientation: portrait) {
  .post-topic-name {
    margin-top: 5px;
    margin-left: -15px;
  }

  .topic-name-in-index-box {
    text-align: center;
  }

  .topic-name-in-post-index {
    margin-top: 10.5px;
  }

  .post-index-top-nav {
    text-align: center;
  }
}

/* iPhone 6 (portrait)----------- */
@media only screen
  and (min-device-width: 375px)
  and (max-device-height: 667px)
  and (orientation: portrait) {
  .post-topic-name {
    margin-top: 5px;
    margin-left: -15px;
  }

  .topic-name-in-index-box {
    text-align: center;
  }

  .topic-name-in-post-index {
    margin-top: 10.5px;
  }

  .post-index-top-nav {
    text-align: center;
  }
}

/* iPhone 6+ (portrait) ----------- */
@media only screen
  and (min-device-width: 414px)
  and (max-device-height: 736px)
  and (orientation: portrait) {
  .post-topic-name {
    margin-top: 5px;
    margin-left: -15px;
  }

  .topic-name-in-index-box {
    text-align: center;
  }

  .topic-name-in-post-index {
    margin-top: 10.5px;
  }

  .post-index-top-nav {
    text-align: center;
  }
}

/* iPads (portrait) ------ */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait) {
  .index-post-box {
    margin-top: 20px;
  }

  .top-topic-post-index-box {
    margin-top: 70px;
  }

  .post-topic-name {
    margin-top: 5px;
  }

  .post-show-row {
    margin-top: 70px;
  }

  .topic-name-in-index-box {
    text-align: center;
  }

  .topic-name-in-post-index {
    margin-top: 10.5px;
  }

  .post-index-top-nav {
    text-align: center;
  }

  .admin-editing-tools-box.new-topic-admin-box {
    margin-top: 50px;
  }
}

/* iPads (landscape) ------ */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape) {
  .index-post-box {
    margin-top: 20px;
  }

  .top-topic-post-index-box {
    margin-top: 75px;
  }

  .post-topic-name {
    margin-top: 0;
  }

  .post-show-row {
    margin-top: 70px;
  }

  .posts-index {
    margin-top: 70px;
  }
}


/* Desktops and laptops ----------- */
@media only screen
  and (min-width: 1224px) {
  .index-post-box {
    margin-top: 20px;
  }

  .jumbotron {
    height: 550px;
  }

  .new-topic-admin-box {
    padding-left: 180px;
  }

  .post-topic-name {
    margin-top: 0;
  }

  .topic-name-in-post-index {
    margin-top: 10px;
  }

  .topic-name-in-index-box {
    padding: 0;
  }
}

/* Samsung Galaxy S5 ----------- */
@media only screen
  and (min-device-width: 360px)
  and (max-device-height: 640px)
  and (orientation: portrait) {
  .post-topic-name {
    margin-top: 0;
  }
}
