%p#notice= notice

%p
  %b Name:
  = @category.name
  
.admin-editing-tools-box
= link_to edit_category_path do
  %button.btn.btn-large.btn-success
    Edit
= link_to @category, :method => :delete, :data => { :confirm => 'Are you sure?' } do
  %button.btn.btn-large.btn-danger
    Delete
