-# Home Top Image/Logo
.jumbotron.logo-image

-# Topics List
-# =============================================
.container
  .row
    .col-md-12.text-center.topic-selection-text
      .h1 Select a topic
.container
  .row
    .col-md-6
      -# - @categories.each do |category|
      -# %a.button
      -#   = category.name
